*{
    margin: 0.2px;
    padding: 0.2px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;  
}
body{
    color: rgb(18, 17, 17);
    background-image: linear-gradient(to bottom,rgb(62, 82, 77),rgb(64, 124, 115),rgb(52, 175, 151),rgb(43, 56, 63));    
}
.heading {
    width: 100%;
    padding: 15px 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: rgb(145, 178, 183);
   
}
.logo {
    font-size:  xx-large;
    font-weight: 500;
    color: rgb(70, 244, 244);
    cursor: pointer;
    
}
.navv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;  
    padding-bottom: 0.5rem;
    padding-left: 8%;
    padding-right: 8%;
}
.navv  li{
    display: inline-block;
    padding: 5px;
    margin: 15px;
}
.navv  li a {
    color: rgb(6, 176, 255);
    font-weight: bold;
    font-size: 15px;
    
}
.navv  li a:hover {
    color: rgb(184, 206, 14);
    transform: translateY(-50%);
}
.home{
    position:relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 20% 0px;   
}
.home-content{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    
}
.home-content h2{
    font-size: 25px;
    font-weight: 500;
    
}
.home-content h3{
    font-size: 30px;
    font-weight: 500;
}
.home-content h1{
    font-size: 30px;
    font-weight: 600;
    color: rgb(129, 222, 246);
}
.home-content h3 span{
    font-size: xx-large;
    font-weight: 800;
    color: rgb(131, 220, 255);
}
.icons {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 30px;
    font-size: large;  
}
p{
    font-weight: 500;
    font-style:oblique;
}
.icons i{
    font-size: 20px;
    background-color: rgb(245, 245, 251);
}



.icons a:hover{
   color: rgb(42, 113, 185);
   box-shadow:0 0 20px rgb(61, 234, 234);
   scale: 1.5;
}
.btn {
    font-weight: 700;
    margin: 20px;
    background: rgb(70, 176, 242);
    border: 2px solid rgb(100, 121, 127);
    justify-content: center;  
    display: inline-block;
    border-radius: 30px;
    padding: 12px 10px;
    box-shadow: 0 0 10px aqua;
    letter-spacing: 1px;
}
.skills{
    color:black;
    font-style: italic;
}
.skills h2{
    color: rgb(18, 18, 18);
    font-size: 65px;
    
    margin: 30px auto;
    text-align: center;
}
.matter{
    color: rgb(186, 238, 43);
    font-size: 40px;
    margin: 30px auto;
    text-align: center;
    justify-content: space-between;
}

    

 .contact h2{
    color: rgb(29, 246, 210);
    font-size: 65px;
    margin: 30px auto;
    text-align: center;
}
.abhi{
    color: rgb(243, 24, 101);
    font-size: 40px;
    margin: 30px auto;
    text-align: center;
    font-style: italic;
}
.abhi span{
    font-style: initial;
    font-weight: bold;
    color: rgb(208, 213, 221);
}
.image{
    
    display: flex;
    justify-content:right;
    align-items: flex-end;
    padding: 0px 10px 10px 600px;
    
    
}
.portfolio h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(101, 248, 248);
    font-style: italic;
}
.portfolio h5{
    font-weight: 700;
    font-size: larger;
}